/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 10px; font-family: Roboto, "Helvetica Neue", sans-serif; }
.d-flex{display: flex;overflow: hidden;}
.justify-between{justify-content: space-between;}
.pd-lr{padding: 0 15px;}
